body
{
  color: rgb(255, 255, 255);
  background: rgb(51, 163, 255);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(7, 1, 59);
  width: 350px;
  height: 300px; 
}
#resultEmotionName ,#resultEmotionName2 
{
  color: black;
}
.emotionName
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 10px;
}